@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

.exo {
  font-family: "Exo 2", sans-serif;
}

.custom-shape {
  clip-path: polygon(3% 0, 97% 0, 100% 100%, 0% 100%);
}
.custom-shape2 {
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #081022;
}
body::-webkit-scrollbar-thumb {
  background: #ff1f47;
  border-radius: 50px;
  border: #081022 solid 3px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #f2bd9d;
}
