@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #091022;
  font-family: "Exo 2", sans-serif;
  color: white;
}
p, li{
  font-family: "Poppins", sans-serif;
}


.custom-shape {
  clip-path: polygon(3% 0, 97% 0, 100% 100%, 0% 100%);
}
.custom-shape2 {
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #081022;
}
body::-webkit-scrollbar-thumb {
  background: #ff1f47;
  border-radius: 50px;
  border: #081022 solid 3px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #f2bd9d;
}

.font-poppins{
  font-family: "Poppins", sans-serif;
}



.heading-1{
  @apply text-4xl lg:text-[64px] md:text-5xl leading-tight font-bold
}

.heading-2{
  @apply text-3xl md:text-4xl lg:text-[48px] leading-tight italic font-bold
}
.heading-3{
  @apply text-2xl md:text-3xl lg:text-[36px] leading-tight italic font-bold
}
.heading-4{
  @apply text-xl md:text-2xl lg:text-[24px] leading-tight italic font-bold
}
.heading-5{
  @apply text-lg md:text-xl lg:text-[20px] leading-tight italic font-light
}

.para-large{
  @apply  text-base md:text-[20px] lg:text-[22px] leading-tight
}

.para-medium{
  @apply text-base md:text-lg leading-8 lg:font-light leading-tight
}

.para-small{
  @apply text-[12px] md:text-[13px] leading-8 lg:font-light leading-tight
}


.btn-primary-hover{
  @apply hover:bg-gradient-to-r hover:from-primary hover:to-[#d83251] transition-all hover:scale-105 duration-200 
}

.btn-hover{
  @apply transition-all hover:scale-105  hover:font-bold
}

.icon-hover{
  @apply transition-all duration-200 hover:-translate-y-2 hover:rotate-45
}

.menu-hover{
  @apply transition-all hover:scale-105 duration-300 hover:font-bold 
}